.info-section {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 50px;
  gap: 20px;

  & .info-section-label {
    color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;

    & p {
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  & .container {
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
  }
}