.features-card-container {
  width: 280px;
  height: 250px;
  background-color: var(--homeCardBackground);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 15px;

  & .icon-container {
    font-size: 400%;
    width: 100%;
    color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .title {
    font-family: 'Righteous', cursive;
    font-size: 1.3em;
    width: 100%;
  }

  & .content {
    color: var(--lightText);
    font-family: Roboto, cursive;
    font-size: 1.1em;

  }
}