.profile-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f5f6fc;
  padding: 0 2vw 5vh 2vw;
}