.profile-detail-section {
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;

  & .label {
    font-weight: 500;
    color: #9a9a9a;
    text-transform: capitalize;
    font-size: 0.9em;
  }

  & .data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    & .content {
      font-weight: 600;
    }
  }
}
