.car-body-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #f1f5f9;
	overflow: scroll;

	& .car-body-content {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		& h1 {
			font-family: 'roboto', sans-serif;
			align-self: flex-start;
			text-align: center;
		}
	}

	& .items-container {
		// height: 90vh;
		max-height: 80%;
		user-select: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		flex-wrap: wrap;
		gap: 30px;
	}
}
